
.index-block {
	margin-bottom: 0.32rem;
	background: #fff;

	h3 {
		font-weight: normal;
		line-height: 1.2rem;
		text-align: center;
	}

	div.pos-r {
		margin-bottom: 0.32rem;

		p {
			color: #5f5f5f;
			line-height: 0.4rem;
			text-align: center;
		}
		a.more-btn {
			position: absolute;
			line-height: 0.4rem;
			right: 0.56rem;
			top: 0;
			color: #63a485;
		}
	}

	.banner-block {
		height: 5.6rem;
		background: #efefef;
		position: relative;
		.context-wrap {
			width: 100%;
			position: absolute;
			top: 1.76rem;
			left: 0;
			text-align: center;

			h3 {
				color: #fff;
				line-height: 0.64rem;
			}

			.btn-green {
				width: 5.2rem;
				height: 0.92rem;
				line-height: 0.92rem;
				margin: 0 auto;
				margin-top: 0.56rem;
			}
		}
		img {
			width: 100%;
			height: 5.6rem;
		}
	}

	.postItem {
		margin-bottom: 0.32rem;
	}

	.postItem:last-child {
		margin-bottom: 0;
	}

	.post-wrap {
		background: #efefef;
	}
}

.foot-block {
	letter-spacing: 0.01rem;
	padding-top: 0.32rem;
	height: 2.453333rem;
	background: #fff;
	text-align: center;
	.desktop-btn {
		display: inline-block;
		width: 2.16rem;
		height: 0.64rem;
		background: #63a485;
		color: white;
		line-height: 0.64rem;
		border-radius: 0.08rem;
		margin-top: 0.3rem;
	}

	p {
		margin-top: 0.32rem;
	}
}

.download-block {
	position: fixed;
	bottom: 0.6rem;
	// height: 1.6rem;
	width: 100%;
	z-index: 999;
	color: white;
	text-align: center;

	webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	
	.inner-wrap {
		max-width: 60%;
		display: block;
		margin: 0 auto;
		height: 0.8rem;
		background: #00d46e;
		color: #fff;
		text-align: center;
		border-radius: 0.5rem;
		position: relative;
		padding: 0.1rem 0;
		box-sizing: border-box;

		.pure-u-12-24 {
			display: inline-block;
			vertical-align: middle;
		}

		.t-left {
			box-sizing: border-box;
			line-height: 0.6rem;
			vertical-align: top;
			text-align: center;

			a {
				color:white;
			}
		}

		.t-right {
			box-sizing: border-box;
			line-height: 0.6rem;
			vertical-align: top;
			text-align: center;
			border-left: 0.028rem solid #fff;

			a {
				color:white;
			}
		}

		span.close-btn {
			// position: absolute;
			// right: 0;
			// top: 0;
			// display: block;
			// height: 1rem;
			// width: 0.6rem;
			text-align: left;

			img {
				display: inline-block;
				width: 0.4rem;
			    height: 0.4rem;
			    margin-top: 0.09rem;
			}
		}
	}
}

